:root{
    --table-min-width: 60rem;
    --table-mobile-min-width: 30rem;
    --spacing: 1.3rem;
    --spacing-mobile:0.8rem;
    --spacing-tablet: 1rem;
    --medium-font-size: 1.4rem;
    --color-black: rgb(0, 0, 30);
    --color-link: rgb(82, 19, 134);
    --spacing-input: 0.3rem 0;
    --padding-input: 0.5rem 0.3rem;
    --input-border-radius: 0.3rem;
    --button-border-radius: 18px;
    --input-border: 1px rgb(146, 139, 139) solid;
    --save-button-color: rgb(6, 168, 6);
    --reset-button-color: rgb(240, 184, 0);
    --cancel-button-color: rgb(223, 10, 10);
    --purple-background: rgba(87, 87, 182, 0.952);
}

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    max-height: 100vh;
    background-color: #f7f2f2;
}


ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

.main{
    height: 70vh;
}



/* --------------HEADER-------------- */

.header{
    background-image: linear-gradient(to right,var(--purple-background),rgb(87, 87, 182));
    height: 20vh;
}

.header-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 80rem;
    margin: 0 auto;
    height: inherit;
}

.icon{
    color: white;
}

.title-content{
    /* height: 100%; */
    display: flex;
    margin: 15px 0;
    
}
.title{
    font-size: 50px;
}

.title-white{
    color: #fff;
}

.nav-content{    
    text-align: center;
    margin-bottom: 10px;
}
.nav-content ul li{
    display: inline;
    padding: 15px;
    background-color: inherit;
}

.nav-content a {
    display: inline-block;
    background-color: inherit;
    color: #fff;
    padding: 10px;
    border: 2px solid white;
    border-radius: var(--button-border-radius);
}

/* --------------BUTTONS-------------- */

.div-button{
    text-align: center;
}

.green-button{
    background-color: var(--save-button-color);
    border: 1px solid var(--save-button-color);
}

.yellow-button{
    background-color: var(--reset-button-color);
    border: 1px solid var(--reset-button-color);
}

.red-button{
    background-color: var(--cancel-button-color);
    border: 1px solid var(--cancel-button-color);
}

/* --------------MESSAGES-------------- */

.message{
    text-align: center;
    padding: 5px;
    max-width: 500px;
    margin: var(--spacing) auto;
    padding: 20px 0;
    border-radius: 4px;
}

.message.success{
    border-color: green;
    background-color: rgba(0, 128, 0, 0.555);
}

.message.error{
    border: 1px solid red;
    background: rgba(255, 0, 0, 0.555);
}

.message.warning{
    border: 1px solid yellow;
    background: rgba(255, 255, 0, 0.555);
}

.message.info{
    border: 1px solid rgb(0, 0, 255);
    background-color: rgba(0, 0, 255, 0.555);
}
/* --------------MAIN-------------- */

.main-content{
    max-width: 80rem;
    margin: var(--spacing) auto;
    background-color: rgb(245, 245, 255);
    box-shadow: 2px 2px 5px rgba(0, 0, 10, 50%);
    border-radius: 4px;
    overflow-x: auto;    
}

.responsive-table{
    width: 100%;
    overflow-x: auto;
}

.table-content {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    min-width: var(--table-min-width);
    width: 100%;
  }

.table-caption{
    padding: var(--spacing);
    font-size: var(--medium-font-size);
    font-weight: bold;
    background-color: var(--purple-background);
}

.table-caption div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.table-caption div form{
    position: relative;
}

.search-content{
    padding: 5px 25px 5px 10px;
    margin: 3px 0;
    border-radius: 10px;
    font-size: 0.63em;
    min-width: 22rem;
    border: 1px solid var(--input-border);
}

.search-icon{
    position: absolute; 
    right: 8px; 
    top: 8px; 
    font-size: 1rem; 
    color: rgba(0, 0, 0, 0.507);
}
.table-row{
    text-overflow: ellipsis;
    text-align: left;
}

.table-row:nth-of-type(2n+1) {
    background-color: rgb(230, 230, 245);
}

.table-row-header{
    /* background: rgba(110, 110, 182, 0.397) !important;  */
    color: var(--color-black);
}

.table-cel,
.table-header{
    padding: var(--spacing);
}

.table-link{
    color: var(--color-link);
}
.table-link:hover{
    color: var(--color-black);
}

.pagination{
    text-align: center;
    padding: 20px;
}

.pagination span a{
    display: inline-block;  
    color: var(--color-link);
}

.pagination a:hover{
    color: var(--color-black);
}

/* --------------ADD CONTACT / REGISTER USER-------------- */

.form-field-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.field-content{
    padding: 8px;
}

.field-label{
    font-weight: bold;
}

.field-content input,
.field-content select{
    padding: var(--padding-input);
    width: 100%;
    margin: var(--spacing-input);
    border-radius: var(--input-border-radius);
    border: var(--input-border);
}

.field-help-text{
    color: rgb(47, 47, 199);
    font-size: 0.7rem;
}

.field-error{
    color: rgb(252, 21, 21);
    font-size: 0.9rem;
}
.button-form{
    border-radius: var(--input-border-radius);
    border: var(--input-border);
    cursor: pointer;
    color: #fff;
    margin: 15px 5px 0 5px;
}

.button-form.button-padding{
    padding: var(--padding-input);
}

.button-form a{
    padding: var(--padding-input);
    display: inline-block;
}

.contact-content{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.row-content{
    padding: var(--spacing);
    position: relative;
}

.row-content h2{
    text-align: center;
}

.row-content .back-button{
    padding: 8px;
    position: absolute;
    right: -200px;
    top: 20px;
    border: 1px solid var(--purple-background);
    background-color: var(--purple-background);
    color: #fff;
    border-radius: var(--button-border-radius);
}
/* --------------SINGLE CONTACT-------------- */

.sg-contact-list{
    text-align: center;
}

.sg-contact-item{
    margin: var(--spacing);
}

.label-item{
    font-weight: bold;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-height: 765px){
    .header{
        height: 25vh;
    }
}

@media only screen and (max-height: 765px){
    .header{
        height: 30vh;
    }
}

@media only screen and (max-height: 680px){
    .header{
        height: 35vh;
    }
}

@media only screen and (max-width: 600px) {

    /* --------------HEADER-------------- */

    .header-content{
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    }

    .title{
        font-size: 1.7rem;
    }

    .nav-content{
        margin-bottom: 10px;
    }
    .nav-content ul li{
        display: block;
        padding: 3px;
    }
    
    .nav-content a {
        min-width: 7rem;
        font-size: 0.9rem;
        padding: 0.5rem;
    }

    /* --------------MAIN-------------- */
    .main-content{
        max-width: 100%;
        border-radius: 0;
    }

    .table-content {
        min-width: 100%;
          }
    
    .table-caption div{
        flex-direction: column;
        justify-content: center;
        max-width: 15rem;
    }
    
    .search-icon{
        right: 7px; 
    }

    .search-content{
        padding: 5px 25px 5px 10px;
        margin: 3px 0;
        border-radius: 10px;
        font-size: 0.63em;
        min-width: 15rem;
        border: 1px solid var(--input-border);
    }

    .table-row{
        text-overflow: ellipsis;
        text-align: left;
    }
    
    .table-cel,
    .table-header{
        padding: var(--spacing-mobile);
    }

    .pagination span{
        display: flex;
        flex-direction: column;
    }

    .pagination span a,
    .pagination span span{
        padding: 5px;
    }
    
/* --------------ADD CONTACT / REGISTER USER-------------- */

    .contact-content{
        width: 100%;
    }

    .field-content input,
    .field-content select{
        padding: var(--padding-input);
        width: 95%;
        margin: var(--spacing-input);
        border-radius: var(--input-border-radius);
        border: var(--input-border);
    }
/* --------------SINGLE CONTACT-------------- */

    .mobile-title h2{
        text-align: left;
    }

    .row-content .back-button{
        padding: 8px;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .sg-contact-list{
        text-align: left;
    }

    .sg-contact-item{
        margin: var(--spacing-mobile) 0;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 992px) {
    body{
        font-size: 1.3rem;
    }

    h2{
        font-size: 3rem;
    }

    h3{
        font-size: 2.5rem;
    }

    /* --------------HEADER-------------- */

    .header-content{
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    }

    .title{
        font-size: 3.5rem;
    }

    .nav-content{
        margin-bottom: 10px;
    }

    .nav-content ul li{
        display: block;
        padding: 3px;
    }
    
    .nav-content a {
        min-width: 7rem;
        font-size: 1.2rem;
        padding: 0.5rem;
    }

    /* --------------MAIN-------------- */
    .main-content{
        max-width: 100%;
        border-radius: 0;
    }

    .table-content {
        min-width: 100%;
          }
    
    .table-caption div{
        flex-direction: column;
        justify-content: center;
        max-width: 20rem;
    }
    
    .search-icon{
        right: 7px;
        top: 13px;
    }

    .search-content{
        padding: 5px 25px 5px 10px;
        margin: 3px 0;
        border-radius: 10px;
        font-size: 0.9em;
        min-width: 20rem;
        border: 1px solid var(--input-border);
    }

    .table-row{
        text-overflow: ellipsis;
        text-align: left;
    }
    
    .table-cel,
    .table-header{
        padding: var(--spacing-tablet);
    }

    .pagination{
        padding: 20px;
    }
    
/* --------------ADD CONTACT / REGISTER USER-------------- */

    .contact-content{
        width: 100%;
    }

    .field-content input,
    .field-content select{
    padding: 0.7rem 0.5rem;
    width: 95%;
    font-size: 1rem;
}

    .field-help-text{
        font-size: 0.9rem;
    }

    .field-error{
        font-size: 1rem;
    }

    .button-form{
        font-size: 1rem;
    }
    .button-form.button-padding{
        padding: 0.8rem 0.5rem;
    }

    .button-form a{
        padding: 0.8rem 0.5rem;
        display: inline-block;
    }
/* --------------SINGLE CONTACT-------------- */

    .mobile-title h2{
        text-align: left;
    }

    .row-content .back-button{
        padding: 8px;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .sg-contact-list{
        text-align: left;
    }

    .sg-contact-item{
        margin: var(--spacing-mobile) 0;
    }
}

