{% extends "base.html" %}
{% block edit %}
    <div class="main-content">
        <div class="contact-content">
            <div class="row-content">
                <h2>Edição de contato</h2>
            </div>
            <div class="row-content">
                <form action="{% url "contact:edit" contato.id %}" method="post" class="edit-form">
                    {% csrf_token %}
                    

                        {% for field in form %}
                            <div class="field-content">
                                <label for="field.id_for_label" class="field-label">{{field.label}}</label>                    
                                {{field}}
                                {{field.errors}}
                            </div>
                        {% endfor %}
                        
                        <div class="div-button">
                            <input type="submit" value="Salvar" class="button-form">
                            <button type="button" class="button-form">
                                <a href="{% url "contact:index" %}" style="color: inherit;">
                                    Cancelar
                                </a>
                            </button>
                        </div>
                    
                </form>
            </div>
        </div>
    </div>
{% endblock edit %}
