{% extends "base.html" %}

{% block sgcontact %}
    <div class="main-content">
        <div class="sg-contact-content">
            <h2 class="sg-contact-title">Contato</h2>
            <ul class="sg-contact-list">
                <li class="sg-contact-item">
                    <span class="label-item">Nome:</span> {{contato.name}}
                </li>
                <li class="sg-contact-item">
                    <span class="label-item">Sobrenome:</span> {{contato.last_name}}</li>
                <li class="sg-contact-item">
                    <span class="label-item">Telefone:</span> {{contato.number}}</li>
                {% if contato.email %}
                    <li class="sg-contact-item">
                        <span class="label-item">Email:</span> {{contato.email}}</li>
                {% endif %}
                {% if contato.category %}
                    <li class="sg-contact-item">
                        <span class="label-item">Categoria:</span> {{contato.category}}</li>
                {% endif %}
                
                <form action="{% url "contact:delete" contato.id %}" method="post" class="sgcontact-form">
                    <div class="div-button">
                        {% csrf_token %}

                        <button type="button" class="button-form">
                            <a href="{% url "contact:index" %}" style="color: inherit;">Editar</a>
                        </button>

                        {% if confirmation == 'yes' %}
                            <button type="submit" class="button-form">Confirma?</button>
                        {% else %}
                            <button type="submit" class="button-form">Delete</button>
                            <input type="hidden" name='confirmation' id="confirmation" value="no">
                        {% endif %}
                        
                    </form>
                </div>
            </ul>
        </div>
    </div>
{% endblock sgcontact %}